p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

.error {
    color: red;
} 

.happy {
    color: white; text-align: center;
}

div { 
    background-color: rgb(108, 188, 214);  
    border-radius: 5px; 
    padding: 5px;
}