<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    </head>
    <body>
        <style> 
            .error {color: red;} 
            .happy {color: white;}
            div { 
                background-color: rgb(108, 188, 214);  
                border-radius: 5px; 
                padding: 5px;
            }
        </style>

        {% block content %}

        {% endblock %}

    </body>
</html>