{% extends "base.html" %}


{% block content %}
<h3>Please Sign In</h3>
<div>
<form method="post">
    <p><label for="username">Username: </label>
    <input name="username" type="text" value="{{username}}" required /></p>
    <p class="error">{{username_error}}</p>
    <p><label for="password1">Password:</label>
    <input name="password1" type="password" required /></p>
    <p class="error">{{password1_error}}</p>
    <p><label for="password2">Re-enter Password: </label>
    <input name="password2" type="password" required /></p>
    <p class="error">{{password2_error}}</p>
    <p><label for="email">Email (Optional):</label>
    <input name="email" type="text" value="{{email}}" /></p>
    <p class="error">{{email_error}}</p>
    <p><button type="submit">Submit</button></p>
</form>
</div>

{% endblock %}